# Assignment 16

In [1]:
!pip install ipython-sql

%load_ext sql

!env | grep POST

import os
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'

CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
WARNING: There was an error checking the latest version of pip.
POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

#1. Which fare conditions are available for flights from AER to SVO (i.e. from Adler/Sochi to Sheremetevo/Moscow)

In [2]:
%%sql $CONNECT_DATA
SELECT DISTINCT fare_conditions
FROM seats, flights
WHERE departure_airport = 'AER' AND arrival_airport = 'SVO'
AND seats.aircraft_code = flights.aircraft_code

3 rows affected.

[('Business',), ('Comfort',), ('Economy',)]

2. A list of aircraft models which fly to the Yakutsk AND Abakan cities

In [20]:
%%sql $CONNECT_DATA
Select model
From aircrafts
Where aircraft_code in (
    Select aircraft_code
    From flights
    Where arrival_airport in (
        Select airport_code
        From airports
        Where city='Yakutsk'))
AND
aircraft_code in (
    Select aircraft_code
    From flights
    Where arrival_airport in (
        Select airport_code
        From airports
        Where city='Abakan'))

1 rows affected.

[('Airbus A319-100',)]

3. A list of aircraft models which fly to the Yakutsk OR Abakan cities

In [22]:
%%sql $CONNECT_DATA
Select model
From aircrafts
Where aircraft_code in (
    Select aircraft_code
    From flights
    Where arrival_airport in (
        Select airport_code
        From airports
        Where city='Yakutsk' OR city='Abakan'))

5 rows affected.

[('Airbus A319-100',),
 ('Cessna 208 Caravan',),
 ('Bombardier CRJ-200',),
 ('Boeing 737-300',),
 ('Sukhoi Superjet-100',)]

4. A list of aircrafts which DONâ€™T fly to Yakutsk city

In [25]:
%%sql $CONNECT_DATA
Select Distinct aircraft_code
From aircrafts, airports
Where airports.city != 'Yakutsk'

9 rows affected.

[('CN1',),
 ('320',),
 ('CR2',),
 ('763',),
 ('773',),
 ('319',),
 ('733',),
 ('321',),
 ('SU9',)]

5. Find out airport codes related to Mrs. 'ELLA DMITRIEVA' - from where and to where she flew.

In [28]:
%%sql $CONNECT_DATA
Select passenger_name, departure_airport, arrival_airport
From tickets t, ticket_flights tf, flights f
Where t.passenger_name = 'ELLA DMITRIEVA'
AND t.ticket_no = tf.ticket_no
AND tf.flight_id = f.flight_id

7 rows affected.

[('ELLA DMITRIEVA', 'DME', 'UUS'),
 ('ELLA DMITRIEVA', 'DME', 'HMA'),
 ('ELLA DMITRIEVA', 'HMA', 'DME'),
 ('ELLA DMITRIEVA', 'SVO', 'SVX'),
 ('ELLA DMITRIEVA', 'SVX', 'SVO'),
 ('ELLA DMITRIEVA', 'SVX', 'MQF'),
 ('ELLA DMITRIEVA', 'MQF', 'SVX')]